<div ng-cloak>
    <div class="row">

        <style>

            .shaded img {
                opacity: 0.3;
            }

            .marked-product {
                position: absolute;
                font-size: 20pt;
                left:40px;
                top: 40px;
            }

        </style>

        <div class="col-md-8">
            <button type="button" class="btn btn-default" ng-click="draw()">
                Draw
            </button>

            <br/>

            <div class="row">
                <div class="col-xs-8 col-md-3" class="thumbnail" ng-if="drawnProduct">
                    <img  src="{{drawnProduct.imgURL}}?wid=200" alt="{{drawnProduct.id}}"/>
                </div>
            </div>

            <hr/>

            <div ng-repeat="card in currentGame.cards">
                <h2>Your Bingo Card</h2>

                <div class="row">
                    <div class="col-xs-8 col-md-3" ng-repeat="product in card.products">
                        <a href="#" ng-class="product.clicked ? 'thumbnail shaded' : 'thumbnail'" ng-click="product.clicked = !product.clicked">
                            <!-- <span ng-if="product.clicked" class="marked-product glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> -->
                            <img src="{{product.imgURL}}?wid=200" alt="{{product.id}}">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
